<!DOCTYPE html>
<html>
<head>
   
    <title>Registraion</title>
   
</head>
<body>
    <center>
        <form action="/submit" method="post">
            <h1>Registration Form</h1>
            Name: <input type="text" name="name"><br><br>
            Roll No: <input type="text" name="rollno"><br><br>
            Email: <input type="email" name="email"><br><br>
            Year: 
            <select name="year">
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
            <input type="submit" value="Submit">
            </form>
    </center>
</body>
</html> 
